@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif !important;
    background-color: #d1d2d8 ; 
}
.logo{
    width: 100%;
}
h1, h2, h3{
    color: #5382dd !important;
}
h1, h2, h3, h4{
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800 !important;
    letter-spacing: -3px;
}
.team{
    background-color: #242424;
}
.assignments{
    background-color: #5382dd;
    color: #242424;
}
.team-name{
    font-size: xx-large;
    color: #d1d2d8 !important;
}
.project-name{
    font-size: xx-large;
    color: #d1d2d8 !important;
    text-align: center;
}