@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body, html{
    overflow-x: hidden;
}
body{
    font-family: "Montserrat", sans-serif !important;
    background-color: #d1d2d8 ; 
    font-weight: 400;
}
a{
    color: #d1d2d8 !important;
}
a.nav-link:hover{
    color: #5382dd !important;
    background-color: #d1d2d8;
}
.hero-main{
    height: 100vh; 
    padding-top: 4rem;
    overflow: hidden;
}
.hero-img{
    border-radius: 50%;
    width: 80%;
    max-width: 100%; 
    height: auto;
    margin-top: 40px;
}
.hero-text{
    color: #d1d2d8;
    padding-left: 10px;
    font: 1.2em;
}
@media (max-width: 576px) {
    .hero-text {
        font-size: 1em;
    }
    .hero-img {
        max-width: 70%;
        margin: 0 auto;
    }
    .text-md-end, .text-md-start {
        text-align: center !important;
    }
}
.logo{
    width: 90%; 
    height: auto;
}
h3{
    color: #5382dd !important;
}
h1, h2, h3, h4{
    font-weight: 900 !important;
    letter-spacing: -3px;
}
#details .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}
#details .card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: contain; 
    background-color: #f8f9fa;
} 
.details{
    font-size: x-large !important;
    font-weight: 500 !important;
}
.team{
    background-color: #242424;
}
.team-name{
    font-size: xx-large;
    color: #d1d2d8 !important;
}
.team-role{
    color: #d1d2d8;
}
.assignments{
    background-color: #5382dd;
    color: #242424;
}
.project-name{
    font-size: xx-large;
    color: #d1d2d8 !important;
    text-align: center;
}
h4{
    font-weight: 500 !important;  
}

#categories .service-card{
    background-color: #242424;
    width: 100%; 
    min-height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#categories .service-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

 #categories .service-card img {
    width: 200px; 
    height: auto; 
    max-height: 180px; 
  }

#categories .service-card h4{
    color: #d1d2d8;
    font-family: "Montserrat", sans-serif !important;
    letter-spacing: -1px;

}


#logos .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}
  

 #logos .card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: contain; 
    background-color: #f8f9fa;
  }
  
  
 #logos .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    text-align: center; 
    padding: 15px;
  }

  #inspiration .row, .text-secondary, .fs-xl-10{
    display: flex;
    justify-content: center;
  }

  #inspiration .col-lg-6{
    max-width: 600px; 
    text-align: center; 
    margin: 0 auto;
  }

 .inspiration-text{
    color:#242424;
 }

 .custom-link {
    text-decoration-color: #5382dd; 
    color: #5382dd !important; 
}

.custom-link:hover {
    color: #5382dd; 
}

.text-left {
    text-align: left;
}

.container {
    padding-left: 0; 
    padding-right: 0; 
}
