@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body{
    font-family: "Montserrat", sans-serif !important;
    background-color: #d1d2d8 ; 
}
.logo{
    width: 100%;
}
h1, h2, h3{
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800 !important;
    letter-spacing: -3px;
    color: #5382dd !important;
}
h4{
    font-weight: 500 !important;  
}

